:root {
  --white: #f2f2f2;
  --gray: #202020;
  --black: #000000;
  --primary-color: #320959;
  --secondary-color: #250344;
  --dark-secondary-color: #4d3c5c;
  --tertiary-color: #bb16e1;
  --light-tertiary-color: #f6f3fb;
  --text-color: #3f3448;

  --font-family: 'Poppins', sans-serif;
}

